.footer {
    background-color: #361957;
    color: #fff;
    padding: 15px 0;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    box-shadow: 0px -4px 10px rgba(105, 13, 163, 0.1);
}

.footer-content {
    margin-bottom: 5px;
}

.footer-text {
    font-size: 1em;
    margin-bottom: 5px;
    font-weight: 500;
}

.footer-icons {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-bottom: 5px;
}

.footer-icon, .footer-git {
    font-size: 2rem;
    color: #fff;
    transition: transform 0.3s ease, color 0.3s ease;
    cursor: pointer;
}

.footer-icon:hover {
    transform: scale(1.2);
    color: #007BFF;
}

.footer-git:hover {
    transform: scale(1.2);
    color: #000000;
}

.footer-copy {
    font-size: 0.75em;
    color: #95a5a6;
}
