.home-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 0 40px;
    text-align: center;
}

.text-container {
    max-width: 70%;
    margin: 0 auto;
}

.home-title {
    font-size: 3em;
    font-weight: bold;
    color: #ffffff;
    margin: 0;
    animation: slideInTitle 2s ease-out;
}

.home-subtitle {
    font-size: 1.8em;
    color: #ffffff;
    margin-top: 10px;
    animation: slideInSubtitle 2.5s ease-out;
}

.metier {
    font-style: italic;
    color: #361957;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes slideInTitle {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideInSubtitle {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideInImg {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}